bbservers:
  vars:
    bbserver_host: "{{ inventory_hostname_short }}.nebula"
    bbserver_user: bbserver
    bbserver_port: "{{ iptables_ssh_port }}"
  hosts:
    icos1:
      bbserver_home: /pool/bbserver
    cdb:
      bbserver_home: /disk/data/bbserver
    fsicos2:
      bbserver_home: /disk/data/bbserver
