all:
  vars:
    cpauth_icos_domain: cpauth.icos-cp.eu
    cpauth_sites_domain: auth.fieldsites.se
    cpauth_cities_domain: cityauth.icos-cp.eu

    cpmeta_icos_domain: meta.icos-cp.eu
    cpmeta_sites_domain: meta.fieldsites.se

    cpdata_icos_domain: data.icos-cp.eu
    cpdata_sites_domain: data.fieldsites.se

    cpauth_domains:
      - "{{ cpauth_icos_domain }}"
      - "{{ cpauth_sites_domain }}"
      - "{{ cpauth_cities_domain }}"

    cpmeta_domains:
      - "{{ cpmeta_icos_domain }}"
      - "{{ cpmeta_sites_domain }}"

    cpdata_domains:
      - "{{ cpdata_icos_domain }}"
      - "{{ cpdata_sites_domain }}"

    doi_domains:
      - doi.icos-cp.eu

    stiltweb_domains:
      - stilt.icos-cp.eu

    cpmeta_bbclient_name: cpmeta
    restheart_bbclient_name: restheart
    postgis_bbclient_name: postgis
    rdflog_bbclient_name: rdflog

  children:
    core_host:
      hosts:
        fsicos2.lunarc.lu.se:

      vars:
        coreapp_bind_addr: 127.0.0.1

        # cpmeta - application
        cpmeta_filestorage_target: /disk/data/metaAppStorage
        cpmeta_backup_enable: true
        cpmeta_config_files:
          - application_production.conf
          - application_production_sensitive.conf
        
        rdflog_backup_enable: true
        rdflog_postgres_version: 10

        # cpdata - application
        cpdata_filestorage_target: /disk/data/dataAppStorage
        cpdata_config_files:
          - application_production.conf

        # cpauth - application
        cpauth_config_files:
          - application_production.conf

        postgis_db_port: 5438
        postgis_hostname: 127.0.0.1
        postgis_backup_enable: true
        # stiltweb - application
        # This is where stiltweb keeps it's archive of of stilt files
        stiltweb_statedir: /disk/data/stiltweb
        # The root of the classic stilt data directory (Footprints, RData, etc)
        stiltweb_stiltdir: /disk/data/stilt

        cpauth_envries:
          - name: ICOS
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_icos_db_name}}"
          - name: SITES
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_sites_db_name}}"
          - name: ICOSCities
            #ICOSCities has RestHeart but no own cpauth, and prod cpauth must be able to access it
            restheart_url: "https://{{ restheart_cities_domain }}/{{ restheart_cities_db_name }}"
            restheart_username: "{{ city_restheart_basic_auth.username }}"
            restheart_password: "{{ city_restheart_basic_auth.password }}"

        data_envries:
          - name: ICOS
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_icos_db_name}}"
            postgis_db_name: "{{ postgis_icos_db_name }}"
          - name: SITES
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_sites_db_name}}"
            postgis_db_name: "{{ postgis_sites_db_name }}"

    core_server:
      hosts:
        fsicos2.lunarc.lu.se:

      vars:
        coreapp_httpproxy_host: 127.0.0.1
        coreapp_host_ip: "{{ fsicos2_ip }}"

        # cpmeta - proxy
        cpmeta_certbot_name: meta.icos-cp.eu
        cpmeta_nginxsite_name: cpmeta

        # cpdata - proxy
        cpdata_certbot_name: data.icos-cp.eu
        cpdata_nginxsite_name: cpdata

        # cpauth - proxy
        cpauth_certbot_name: cpauth.icos-cp.eu
        cpauth_nginxsite_name: cpauth

        # restheart - proxy
        restheart_nginxsite_name: restheart
        restheart_certbot_name: restheart.icos-cp.eu
        restheart_domains:
          - restheart.icos-cp.eu
        restheart_dbs:
          - "{{ restheart_icos_db_name }}"
          - "{{ restheart_sites_db_name }}"

        # doi - proxy
        doi_certbot_name: doi.icos-cp.eu
        doi_nginxsite_name: doi
