all:
  vars:
    rdflog_ext_port: 60002
    
# The server running the main database.
rdflog_server:
  hosts:
    fsicos2:

# The servers hosting VMs that run replicas.
pgrep_rdflog_server:
  hosts:
    fsicos3:
      rdflog_vm_name: pgrep1
    cdb:
      rdflog_vm_name: pgrep2

# The VMs running replicas.
pgrep_rdflog:
  vars:
    pgrep_name: rdflog
    pgrep_peer_user: pgrepuser
    pgrep_peer_host: fsicos2
    pgrep_peer_port: "{{ rdflog_ext_port }}"
    pgrep_peer_pass: "{{ vault_rdflog_rep_pass }}"
    pgrep_peer_cert: roles/icos.rdflog/files/server.crt
  hosts:
    pgrep2:
      pgrep_peer_slot: cdb
    pgrep1:
      pgrep_peer_slot: fsicos3
