[defaults]
stdout_callback = yaml
vault_password_file = ~/.vault_password
display_skipped_hosts = no
gathering = smart
fact_caching = jsonfile
fact_caching_timeout = 3600
fact_caching_connection = /tmp/ansiblecache
facts_modules=icos_facts,smart
interpreter_python = auto_silent
pipelining = True
forks = 50
