# Run everything 
#   $ icos play geoip
#
# Deploy new version
#   $ icos play geoip geoip_app
#
# Show other tags
#   $ icos play geoip --list-tags
#
- hosts: fsicos2.lunarc.lu.se
  roles:
    - role: icos.geoip
