# Install the victoriametrics/grafana stack.
#
# upgrade to latest docker versions
# icos run vict prom -evm_upgrade=true -D

- hosts: cdb.nateko.lu.se
  roles:
    - role: icos.docker2
      tags: docker

    - role: icos.victoriametrics
      tags: prom
      vm_graf_domain: graf.icos-cp.eu
      vm_graf_pass: "{{ vault_vm_graf_pass }}"
      vm_promlens_token: "{{ vault_prometheus_promlens_token }}"

    - role: icos.caddy
      tags: caddy
      caddy_name: prometheus
      caddy_conf: |
        # SNIPPET
        (icosip) {
            remote_ip 130.235.74.215  # icos1
            remote_ip 130.235.74.216  # icos1
            remote_ip 130.235.74.217  # icos1
            remote_ip 130.235.74.218  # icos1
            remote_ip 194.47.223.139  # fsicos2
            remote_ip 194.47.223.137  # fsicos3
            remote_ip 130.235.99.237  # cdb
        }

        (prometheus_auth) {
          basicauth bcrypt prometheus {
            {{ vault_vmagent_auth.username }} "{{
              vault_vmagent_auth.password |
              password_hash('bcrypt', vault_bcrypt_salt) }}"
          }
        }

        # PROMLENS
        lens.icos-cp.eu {
          import prometheus_auth
          reverse_proxy localhost:{{ vm_promlens_port }}
        }

        # GRAFANA
        graf.icos-cp.eu {
          # no basic auth for grafana, it has its own auth.
          reverse_proxy localhost:3000
        }

        # PROMETHEUS
        prom.icos-cp.eu {
          import prometheus_auth

          @api_not_icos {
            path /api/*
            not {
              import icosip
            }
          }

          respond @api_not_icos 401
          reverse_proxy localhost:{{ vm_vm_port }}
        }

  tasks:
    - name: Show basic auth for prometheus
      tags: showauth
      debug:
        msg: >-
          Basic auth for prometheus is
          {{ vault_vmagent_auth.username }}/{{ vault_vmagent_auth.password }}

