# icos play fsicos3 nginx_certbot

- hosts: fsicos3
  roles:
    - role: icos.server
      tags: server
      when: not ansible_check_mode

    - role: icos.lxd_server
      tags: lxd

    - role: icos.nginx
      tags: nginx

    - role: icos.podman
      tags: podman

    - role: ops.zfs
      tags: zfs

    - role: icos.zabbix_agent
      tags: zabbix-agent

    - role: icos.zabbix_custom_checks
      tags: fsicos3-custom