- hosts: fsicos2.lunarc.lu.se
  vars:
     bbclient_home: /opt/bbclient-nginx-static
     backup_script: "{{ bbclient_home }}/backup.sh"
  roles:
    - role: icos.nginxsite
      tags: static
      vars:
        nginxsite_name: static
        nginxsite_file: files/domains/static.conf

    - role: icos.bbclient2
      tags: bbclient
      bbclient_name: nginx-static
      bbclient_timer_content: |
        #!/bin/bash
        set -eu
        export BORG_RELOCATED_REPO_ACCESS_IS_OK=yes

        echo "Creating"
        {{ bbclient_all}} create --stats --verbose "::{now}" /usr/share/nginx/static

        echo "Pruning"
        {{ bbclient_all }} prune --stats --keep-within=100d --keep-weekly=-1

        echo "Compacting"
        {{ bbclient_all }} compact --verbose
