- hosts: fsicos3.lunarc.lu.se
  roles:
    - name: Create the dokku VM
      role: icos.lxd_vm
      lxd_vm_name: dokku
      lxd_vm_docker: true
      lxd_vm_docker_size: "200GB"
      lxd_vm_root_size: "500GB"
      lxd_vm_config:
        limits.cpu: "8"
        limits.memory: "64GB"
      lxd_vm_ubuntu_version: "24.04"

    - role: icos.nginxsite
      tags: nginx
      nginxsite_name: dokku
      nginxsite_file: templates/dokku-nginx.conf
      dokku_domains:
        - '*.dokku.fsicos3.icos-cp.eu'
      dokku_proxy_host: dokku.lxd
      dokku_proxy_port: 80

- hosts: dokku
  roles:
    - role: icos.lxd_guest
      tags: guest

    - role: icos.docker2
      tags: docker

    - role: icos.dokku
      tags: dokku
