# Deploy the postgres replication containers
#   icos run rdflog pgrep

# RDFLOG
- hosts: rdflog_server
  tags: rdflog
  roles:
    - role: icos.rdflog


# CREATE VMS
- hosts: pgrep_rdflog_server
  tags: vm
  roles:
    - role: icos.lxd_vm
      lxd_vm_name: "{{ rdflog_vm_name }}"
      lxd_vm_docker: true


# REPLICAS
- hosts: pgrep_rdflog
  tags: replica
  roles:
    - role: icos.lxd_guest
      tags: guest

    - role: icos.docker
      tags: docker

    - role: icos.pgrep
      tags: pgrep
