
# Concrete local Docker configuration for Jupyter Notebook. #
#############################################
jupyter/docker-compose.yml
jupyter/storage/

# Concrete local Docker configuration for STILT. #
#############################################
stilt/base/docker-compose.yml
stilt/custom/docker-compose.yml


# Ansible
############################################
devops/ubuntu-xenial-16.04-cloudimg-console.log
devops/ubuntu-bionic-18.04-cloudimg-console.log

# local development environment's passwords for the core services
devops/dev.inventory/group_vars/core_host/passwords.yml

*.*~
.idea
.editorconfig
.cache-main
.mypy_cache/


exploredata/build.notebook/education
exploredata/build.notebook/icos_jupyter_notebooks
exploredata/build.notebook/introduction
exploredata/build.notebook/project_jupyter_notebooks
exploredata/build.notebook/pylib_examples


/devops/files/prometheus/dynamic/node_exporter.yml
/devops/files/wireguard

__pycache__/

devops/dev.inventory/group_vars/core_host/passwords.yml
devops/roles/icos.postgresql/postgis_restore_log.txt
devops/roles/icos.postgresql/rdflog_restore_log.txt
