# https://github.com/ricoberger/script_exporter
[Unit]
Description=Script Exporter

[Service]
# We need to run as root for some exporters to work properly.
ExecStart=script_exporter -web.listen-address {{ sexp_listen }}
Restart=always
WorkingDirectory={{ sexp_home }}

# The documentation doesn't mention SIGHUP, but the source says "Listen for
# SIGHUP signal and reload the configuration."
# https://github.com/ricoberger/script_exporter/blob/main/pkg/exporter/exporter.go
ExecReload=/bin/kill -s HUP $MAINPID


[Install]
WantedBy=multi-user.target
