[Unit]
Description=Node Exporter

[Socket]
ListenStream={{ node_exporter_listen }}
{{ "BindToDevice=%s" % node_exporter_bindto if node_exporter_bindto else "" }}

[Install]
WantedBy=sockets.target
