- name: Create pgrep directories
  file:
    path: "{{ pgrep_home }}/volumes"
    state: directory
    mode: "0700"

- name: Install peer certificate
  copy:
    src: "{{ pgrep_peer_cert }}"
    dest: "{{ pgrep_home }}/peer.crt"

- name: Install runtime files
  template:
    src: "{{ item.src }}"
    dest: "{{ pgrep_home }}"
    mode: "{{ item.mode | default(omit) }}"
  loop:
    - src: docker-compose.yml
    - src: pgpass
    - src: status.sql
    - src: queries.yml
    - src: entrypoint.sh
      mode: +x
    - src: psql
      mode: +x
    - src: psql-peer
      mode: +x

- name: Start containers
  docker_compose:
    project_src: "{{ pgrep_home }}"

- name: Check that psql wrappers works
  shell: |
    {{ pgrep_home }}/{{ item }} -c 'select version()'
  changed_when: no
  register: _r
  failed_when:
    - "not 'PostgreSQL' in _r.stdout"
  loop:
    - psql
    - psql-peer # requires peer to be online
