all:
  vars:
    fsicos2_ip: 194.47.223.139
    staging_lxd_ip: 10.189.225.88

    # the domains are needed both for the host (to find the buildInfo url) and
    # for the server (to set up proxy)
    cpauth_icos_domain: cpauthstaging.icos-cp.eu
    cpauth_sites_domain: authstaging.fieldsites.se
    cpauth_cities_domain: cityauthstaging.icos-cp.eu

    cpmeta_icos_domain: metastaging.icos-cp.eu
    cpmeta_sites_domain: metastaging.fieldsites.se
    cpmeta_cities_domain: citymetastaging.icos-cp.eu

    cpdata_icos_domain: datastaging.icos-cp.eu
    cpdata_sites_domain: datastaging.fieldsites.se
    cpdata_cities_domain: citydatastaging.icos-cp.eu

    cpauth_domains:
      - "{{ cpauth_icos_domain }}"
      - "{{ cpauth_sites_domain }}"

    cpmeta_domains:
      - "{{ cpmeta_icos_domain }}"
      - "{{ cpmeta_sites_domain }}"
      - "{{ cpmeta_cities_domain }}"

    cpdata_domains:
      - "{{ cpdata_icos_domain }}"
      - "{{ cpdata_sites_domain }}"
      - "{{ cpdata_cities_domain }}"

    doi_domains:
      - doistaging.icos-cp.eu
    
    postgis_dbs:
      - "{{ postgis_icos_db_name }}"
      - "{{ postgis_sites_db_name }}"
      - "{{ postgis_cities_db_name }}"

    restheart_dbs:
      - "{{ restheart_icos_db_name }}"
      - "{{ restheart_sites_db_name }}"
      - "{{ restheart_cities_db_name }}"

    activity_log_ignore_ips: []

  children:
    core_host:
      hosts:
        staging:

      vars:
        coreapp_bind_addr: 0.0.0.0

        # cpmeta - application
        cpmeta_filestorage_target: "{{ cpmeta_home }}/filestorage"
        cpmeta_backup_enable: false
        cpmeta_config_files:
          - application_production.conf
          - application_production_sensitive.conf
          - application_staging_amendment.conf

        # cpdata - application
        # when running in an lxd VM, bind all interfaces so that we're reachable
        # from the host.
        cpdata_filestorage_target: "/data/dataAppStorage"
        cpdata_b2safe_dry_run: true
        cpdata_config_files:
          - application_production.conf
          - application_staging_amendment.conf

        # cpauth - application
        cpauth_config_files:
          - application_production.conf
          - application_staging_amendment.conf

        postgis_db_port: 5438
        postgis_hostname: 127.0.0.1

        rdflog_postgres_version: 10

        cpauth_envries:
          - name: ICOS
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_icos_db_name}}"
          - name: SITES
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_sites_db_name}}"
          - name: ICOSCities
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_cities_db_name }}"
            restheart_username: "{{ city_restheart_basic_auth.username }}"
            restheart_password: "{{ city_restheart_basic_auth.password }}"
        data_envries:
          - name: ICOS
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_icos_db_name}}"
            postgis_db_name: "{{ postgis_icos_db_name }}"
          - name: SITES
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_sites_db_name}}"
            postgis_db_name: "{{ postgis_sites_db_name }}"
          - name: ICOSCities
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_cities_db_name }}"
            postgis_db_name: "{{ postgis_cities_db_name }}"

    core_server:
      hosts:
        fsicos2.lunarc.lu.se:
          ansible_port: 60022

      vars:
        coreapp_httpproxy_host: staging.lxd
        coreapp_host_ip: "{{ staging_lxd_ip }}"

        # cpmeta - proxy
        cpmeta_nginxsite_name: cpmeta-staging
        cpmeta_certbot_name: cpmeta-staging

        # cpdata - proxy
        cpdata_certbot_name: cpdata-staging
        cpdata_nginxsite_name: cpdata-staging

        # cpauth - proxy
        cpauth_certbot_name: cpauth-staging
        cpauth_nginxsite_name: cpauth-staging

        # restheart - proxy
        restheart_host: staging.lxd
        restheart_nginxsite_name: restheart-staging
        restheart_certbot_name: restheart-staging
        restheart_domains:
          - restheartstaging.icos-cp.eu

        # doi - proxy
        doi_certbot_name: doi-staging
        doi_nginxsite_name: doi-staging
