[Unit]
Description=Victoriametrics vmagent

[Service]
EnvironmentFile={{ vmagent_environ }}

# restart?
# -usePromCompatibleNaming is used to support telegraf
ExecStart={{ vmagent_bin }}/vmagent-prod \
  -promscrape.config={{ vmagent_home }}/prometheus.yml \
  -remoteWrite.url=%{VM_REMOTE} \
  -usePromCompatibleNaming \
  -influxDBLabel=job \
  -httpListenAddr={{ vmagent_listen }}

  {%- if vmagent_pathprefix %} \
  -http.pathPrefix={{ vmagent_pathprefix }}
  {%- endif -%}

  {%- if vmagent_auth %} \
  -remoteWrite.basicAuth.username=%{VM_USERNAME} \
  -remoteWrite.basicAuth.password=%{VM_PASSWORD}
  {% endif %}

Restart=always
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
