all:
  vars:
    vm_fsicos4_test: 10.189.225.88

    # the domains are needed both for the host (to find the buildInfo url) and
    # for the server (to set up proxy)
    cpauth_icos_domain: cpauth.fs4vm.icos-cp.eu

    cpmeta_icos_domain: meta.fs4vm.icos-cp.eu

    cpdata_icos_domain: data.fs4vm.icos-cp.eu

    cpauth_domains:
      - "{{ cpauth_icos_domain }}"

    cpmeta_domains:
      - "{{ cpmeta_icos_domain }}"

    cpdata_domains:
      - "{{ cpdata_icos_domain }}"

    doi_domains:
      - doi.fs4vm.icos-cp.eu

    postgis_dbs:
      - "{{ postgis_icos_db_name }}"

    restheart_dbs:
      - "{{ restheart_icos_db_name }}"

    activity_log_ignore_ips: []

  children:
    core_host:
      hosts:
        vm_fsicos4_test:

      vars:
        coreapp_bind_addr: 127.0.0.1

        # cpmeta - application
        cpmeta_filestorage_target: "{{ cpmeta_home }}/filestorage"
        cpmeta_backup_enable: false
        cpmeta_config_files:
          - application_production.conf
          - application_production_sensitive.conf
          - application_test_amendment.conf

        # cpdata - application
        cpdata_filestorage_target: "/data/dataAppStorage"
        cpdata_b2safe_dry_run: true
        cpdata_config_files:
          - application_production.conf
          - application_test_amendment.conf

        # cpauth - application
        cpauth_config_files:
          - application_production.conf
          - application_test_amendment.conf

        postgis_db_port: 5438
        postgis_hostname: 127.0.0.1

        rdflog_postgres_version: 10

        cpauth_envries:
          - name: ICOS
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_icos_db_name}}"
        data_envries:
          - name: ICOS
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_icos_db_name}}"
            postgis_db_name: "{{ postgis_icos_db_name }}"

    core_server:
      hosts:
        fsicos4:
          ansible_port: 60608

      vars:
        coreapp_httpproxy_host: fsicos4
        coreapp_host_ip: "{{ vm_fsicos4_test }}"

        # cpmeta - proxy
        cpmeta_nginxsite_name: cpmeta-test
        cpmeta_certbot_name: cpmeta-test

        # cpdata - proxy
        cpdata_certbot_name: cpdata-test
        cpdata_nginxsite_name: cpdata-test

        # cpauth - proxy
        cpauth_certbot_name: cpauth-test
        cpauth_nginxsite_name: cpauth-test

        # restheart - proxy
        restheart_host: vm_fsicos4_test
        restheart_nginxsite_name: restheart-test
        restheart_certbot_name: restheart-test
        restheart_domains:
          - restheart.fs4vm.icos-cp.eu

        # doi - proxy
        doi_certbot_name: doi-test
        doi_nginxsite_name: doi-test
