all:
  vars:
    cpmeta_cities_domain: citymeta.icos-cp.eu
    cpauth_cities_domain: cityauthstaging.icos-cp.eu
    cpdata_cities_domain: citydata.icos-cp.eu
    cities_lxd_ip: 10.189.225.41

    rdflog_postgres_version: 15

    # # the domains are needed both for the host (to find the buildInfo url) and
    # # for the server (to set up proxy)
    cpmeta_domains:
      - "{{ cpmeta_cities_domain }}"

    cpdata_domains:
      - "{{ cpdata_cities_domain }}"

    postgis_dbs:
      - "{{ postgis_cities_db_name }}"

    restheart_dbs:
      - "{{ restheart_cities_db_name }}"
    
    # Borg backup
    cpmeta_bbclient_name: citymeta
    restheart_bbclient_name: cityrestheart
    postgis_bbclient_name: citypostgis

  children:
    core_host:
      hosts:
        fsicos2_cities:

      vars:
        # when running in an lxd VM, bind to 0.0.0.0 so that services are reachable from the host
        coreapp_bind_addr: 0.0.0.0
        restheart_bind_host: 0.0.0.0

        restheart_backup_enable: true
        # cpmeta - application
        cpmeta_filestorage_target: "{{ cpmeta_home }}/filestorage"
        cpmeta_backup_enable: true
        cpmeta_config_files:
          - application_production.conf
          - application_cities_amendment.conf
          - application_cities_sensitive.conf

        # cpdata - application
        cpdata_filestorage_target: /data/dataAppStorage/
        cpdata_b2safe_dry_run: true
        cpdata_config_files:
          - application_production.conf

        postgis_db_port: 5438
        postgis_hostname: 127.0.0.1
        postgis_backup_enable: true

        data_envries:
          - name: ICOSCities
            restheart_url: "http://127.0.0.1:{{ restheart_bind_port }}/{{ restheart_cities_db_name }}"
            postgis_db_name: "{{ postgis_cities_db_name }}"

    core_server:
      hosts:
        fsicos2.lunarc.lu.se:

      vars:
        coreapp_httpproxy_host: cities.lxd
        coreapp_host_ip: "{{ cities_lxd_ip }}"

        # cpmeta - proxy
        cpmeta_nginxsite_name: cpmeta-cities
        cpmeta_certbot_name: cpmeta-cities

        # cpdata - proxy
        cpdata_certbot_name: cpdata-cities
        cpdata_nginxsite_name: cpdata-cities

        # restheart - proxy
        restheart_host: cities.lxd
        restheart_nginxsite_name: restheart-cities
        restheart_certbot_name: restheart-cities
        restheart_basic_auth: "{{ city_restheart_basic_auth }}"

        restheart_domains:
          - "{{ restheart_cities_domain }}"
