[Unit]
Description=STILT web frontend
After=network.target

[Service]
Type=simple
User={{ stiltweb_username }}
ExecStart={{ stiltweb_java }} -jar stiltweb.jar
Restart=always
RestartSec=30
WorkingDirectory={{ stiltweb_home }}

[Install]
WantedBy=multi-user.target

