- name: Check type of deployment
  assert:
    that: exploredata_type in ('prod', 'test')
    quiet: true

- name: Copy files
  copy:
    dest: "{{ exploredata_home }}/"
    src: "{{ item }}"
  loop:
    - build.hub
    - jupyterhub_home
    - docker-compose.yml

- name: Copy jupyterhub_config.py
  template:
    src: jupyterhub_config.py
    dest: "{{ exploredata_home }}/jupyterhub_home/"
    backup: true
    validate: python3 -m py_compile %s

- name: Install runtime environment file
  copy:
    dest: "{{ exploredata_home }}/.env"
    content: |
      NETWORK_NAME={{ exploredata_network }}
      HUB_PORT={{ exploredata_port }}
      HUB_RESTART=always
      HUB_IMAGE={{ exploredata_hub_image }}
      HUB_CONTAINER_NAME={{ exploredata_hub_container }}
      ICOSBASE_IMAGE={{ exploredata_icosbase_image }}
      EXAMPLES_IMAGE={{ exploredata_examples_image }}
      ICOS_NOTEBOOKS_IMAGE={{ exploredata_icos_notebooks_image }}
      SUMMER_SCHOOL_IMAGE={{ exploredata_summer_school_image }}
      CLASSIC_IMAGE={{ exploredata_classic_image }}
      PASSWORD={{ exploredata_password[exploredata_type] }}

- name: Login to registry
  tags: docker_login
  community.general.docker_login:
    registry_url: "{{ registry_domain }}"
    username: docker
    password: "{{ vault_registry_pass }}"

- name: Make sure that the notebook images are present
  community.docker.docker_image:
    name: "{{ item }}"
    source: pull
  loop:
    - "{{ exploredata_icosbase_image }}"
    - "{{ exploredata_examples_image }}"
    - "{{ exploredata_icos_notebooks_image }}"
    - "{{ exploredata_summer_school_image }}"
    - "{{ exploredata_classic_image }}"

- name: Build and start the hub image
  docker_compose:
    project_src: "{{ exploredata_home }}"
    build: yes
