[Unit]
Description=ICOS metadata service
After=network.target

[Service]
Type=simple
User={{ cpmeta_user }}
ExecStart={{ java_path }} -jar cpmeta.jar
Restart=always
RestartSec=30
WorkingDirectory=/home/{{ cpmeta_user }}
Environment=SPARQL_QUERY_LOG_FILE=/var/log/cpmeta/sparql-query.log

[Install]
WantedBy=multi-user.target
