[Unit]
Description=Automatic port-forwarding for proxmox

[Service]
Environment=PYTHONUNBUFFERED=1

[Service]
ExecStart=/usr/local/bin/icos-auto-dnat run
