# https://github.com/nats-io/nats-server/blob/master/util/nats-server.service
[Unit]
Description=NATS Server
After=network-online.target ntp.service

[Service]
PrivateTmp=true
Type=simple
ExecStart={{ nats_server }} -c {{ nats_config_file }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
User={{ nats_user }}
Group={{ nats_user }}
# Used to trigger using Lame Duck Mode (LDM) shutdown
KillSignal=SIGUSR2
Restart=on-failure

[Install]
WantedBy=multi-user.target
