[Unit]
Description=STILT cluster node
After=network.target

[Service]
Type=simple
User={{ stiltcluster_username }}
ExecStart=/usr/bin/java -jar stiltcluster.jar
Restart=always
RestartSec=30
WorkingDirectory={{ stiltcluster_home }}
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
