- include_role:
    name: icos.bbclient2
    public: yes
  vars:
    bbclient_name: drupal
    bbclient_home: "{{ drupal_home }}/.bbclient"
    bbclient_timer_conf: |
      OnCalendar=daily
      RandomizedDelaySec=1h
    bbclient_timer_content: "{{ lookup('template', 'borgbackup.sh') }}"
